---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Elikem's About Page">
	<main>
		<h1>Welcome to <span class="text-gradient">About Elikem </span></h1>
		<p class="instructions">
			<img src="https://www.shawbears.com/sports/msoc/2020-21/photos/0002/B76B1147-7912-4F38-9615-40D4F53EA709.jpeg?max_width=400" alt="Elikem" style="width:400px;height:400px;">
	
			<p>Hi my name is Elikem R. Des-Amekudi i was born in the bronx im currnty 20 years old and in college working on getting a bacholers in CIS (computer Information Systems . I have a little brother and a little sister who love playing soccer ,I almost forgot im a college athleat i currently play college soccer at shaw university a HBCU in the south .Being that i live in the south i do like to do southern thing like go fishing play Golf and im realy into cars i use to work on them with my frinds when i was still in high school </p>
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Home"
				body=""
			/>
			<Card
				href="https://astro.build/integrations/"
				title="About Me"
				body=""
			/>
			<Card
				href="https://astro.build/themes/"
				title="My Professional life"
				body=""
			/>
			<Card
				href="https://astro.build/chat/"
				title="How to contact me "
				body=""
			/>
		</ul>
	
		
	</main>

</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}
	h1 {
		margin: 2rem 0;
	}
	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}
	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}
	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}


	}
	.instructions {
		display:flex;
		justify-content: center;
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}
	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
